body{
background-color: black;
/*background-image: url("gameBackground3.gif");*/
background-size: 100%


}

#charger{
	width: 900px;
	height: 700px;
	display: block;
	margin: 0 auto;
}

h3{
	color: white;
}
